@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,700;1,200;1,400;1,600&display=swap");

@layer base {
  body {
    @apply font-[Poppins];
  }
  .navbar {
    @apply flex justify-between py-4 md:px-24 px-4 z-[3] w-full fixed;
  }
  .navbar.active {
    @apply flex justify-between py-4 md:px-24 px-4 bg-white z-[3] w-full fixed;
  }
  .btn {
    @apply bg-[#29480a] hover:bg-green-700 text-white text-left font-medium py-2 px-4 border border-green-700 rounded;
  }
}

@layer utilities {
 
  * {
    box-sizing: border-box;
    margin: 0;
  }
  :root {
    --heights: 50vh;
    --width: 100%;
  }
  ul li:hover {
    color: #3e82fc;
  }
  .hero img {
    height: 50vh;
  }
  .heading-container {
    height: 65vh;
    top: -50px;
  }
  .loader,
  .loader:before,
  .loader:after {
    background: transparent;
    -webkit-animation: load1 1s infinite ease-in-out;
    animation: load1 1s infinite ease-in-out;
    width: 1em;
    height: 4em;
  }
  .loader {
    color: var(--primaryColor);
    text-indent: -9999em;
    margin: 88px auto;
    /* margin-top: 20rem; */
    position: relative;
    font-size: 2rem;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
  }
  .loader:before,
  .loader:after {
    position: absolute;
    top: 0;
    content: "";
  }
  .loader:before {
    left: -1.5em;
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
  }
  .loader:after {
    left: 1.5em;
  }
  @-webkit-keyframes load1 {
    0%,
    80%,
    100% {
      box-shadow: 0 0;
      height: 4em;
    }
    40% {
      box-shadow: 0 -2em;
      height: 5em;
    }
  }
  @keyframes load1 {
    0%,
    80%,
    100% {
      box-shadow: 0 0;
      height: 4em;
    }
    40% {
      box-shadow: 0 -2em;
      height: 5em;
    }
  }
}


